<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=207267112771977";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Header -->
<div class="container">
  <div class="masthead">
    <a href="#" class="top-logo-link">
      <img src="assets/logo_loompa.png" class="top-logo" alt="Loompa logo">
    </a>
    <ul class="nav nav-pills pull-right top-nav" style="margin-top: 19px;">
      <li class="top-nav-item"><a href="#">HOME</a></li>
      <li class="top-nav-item"><a href="#">SERVIÇOS</a></li>
      <li class="top-nav-item"><a href="#">CONTATO</a></li>
    </ul>
  </div>
</div>
<!-- Fim - Header -->

<!-- Form -->

<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item" id="carousel-slide-01">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item active" id="carousel-slide-02">
      <div class="container">
        <div class="carousel-caption" id="winkcamera-caption">
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>

<!-- Fim - Form -->

<!-- Porque o Loompa -->

<div class="container">

  <div class="row porque-loompa">

    <div class="row span12 center">
      <h1 style="margin-bottom: 30px">Por que você deve usar o Loompa?</h1>
      <p>
        Somos uma plataforma totalmente digital que auxilia o consumidor na busca por serviços domésticos. Nosso objetivo é escolher as empresas que melhor se adequam às suas necessidades, e com isso, facilitar suas escolhas.
      </p>
    </div>

    <div class="span4">
      <img src="assets/icone_1.png">
      <h2>Busque</h2>
      <p>Busca simples e intuitiva. Em poucos passos o que procura está na tela.</p>
    </div>
    <div class="span4">
      <img src="assets/icone_2.png">
      <h2>Encontre</h2>
      <p>Os melhores serviços para você. Resultados rápidos e separados por qualificação.</p>
    </div>
    <div class="span4">
      <img src="assets/icone_3.png">
      <h2>Contrate</h2>
      <p>Veja as opções de contato e contrate o serviço mais qualificado para você.</p>
    </div>
  </div>

</div>

<!-- Fim - Porque o Loompa -->

<!-- Footer -->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h2>Loompa.me</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
      <div class="span3">
        <h2>Conecte</h2>
        <ul>
          <li class="sociallogo"><a href="#"><img src="assets/twitter.png" alt="Twitter"></a></li>
          <li class="sociallogo"><a href="#"><img src="assets/facebook.png" alt="Facebook"></a></li>
          <li class="sociallogo"><a href="#"><img src="assets/linkedin.png" alt="LinkedIn"></a></li>
        </ul>
      </div>
      <div class="span4"> &nbsp; </div>
      <div class="span9 border">Copyright © 2013 - Loompa.me - Todos os direitos reservados.</div>

      <div class="fb-like-box"
           data-href="https://www.facebook.com/soservicos"
           data-width="The pixel width of the plugin"
           data-height="The pixel height of the plugin"
           data-colorscheme="dark"
           data-show-faces="true"
           data-header="true"
           data-stream="false"
           data-show-border="true"
           style="margin-top: -50px"></div>

    </div>
  </div>
</div>


<!-- Fim - Footer -->