body {
	padding-top: 25px;
	color: #fff;
	background-color: #0092CB;
	font-family: 'Open Sans';
	line-height:215%;
}

.top-nav a {
	color: #fff;
	font-weight: 700;
}

::-webkit-input-placeholder { padding-left: 12px }
::-moz-placeholder { padding-left: 12px } /* firefox 19+ */
:-ms-input-placeholder { padding-left: 12px } /* ie */
input:-moz-placeholder { padding-left: 12px }


.form {
  background: url('../assets/banner.jpg') no-repeat center center;
  	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 769px;
	margin-top: 20px;
}

.cadastro {
    width: 358px;
    float: right;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
    margin-right: 162px;
    margin-top: 286px;
}

.inputs {
    padding: 12px 0 12px 0!important;
    width: 100%!important;
    text-align: center!important;
}

.porque-loompa {
	margin-top: 80px;
	margin-bottom: 80px;
}

.porque-loompa .span4, .porque-loompa .span12 {
	text-align: center;
}

.porque-loompa .span12 {
	margin-bottom: 60px
}

.porque-loompa p {
	font-size:21px
}

.footer {
	background-color: #3E454D;
}

.footer .container {
	padding:50px 0 10px; 
	color:#c2c2C2;
}

.footer	 a {
	color:#ffffff;
}

.footer .span3 h2 {
	color:#c2c2C2;
	padding-bottom:10px;
	font:20px/140% 'Proxima', Arial, sans-serif;
}

.footer ul  {
	list-style:none; 
	margin:0;
}
.footer ul li {
	font:14px/140% 'Proxima', Arial, sans-serif;
}

.footer ul li a {
	color:#aeaeae
}

.footer ul li a:hover {
	color:#fff
}

.footer .border {
	padding:20px 0 10px 0; 
	clear:left; 
	margin-top:20px;
}

.sociallogo {
	display: inline;
	margin-right: 5px;
	-webkit-transition: none;
	-webkit-backface-visibility: hidden;
}